html,
body,
main {
  margin: 0;
  height: 100%;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: darkslategray;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.envelope {
  width: 100%;
  max-width: 32rem;
  aspect-ratio: 2;
  background-color: grey;
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
  box-shadow: 0px 2px 8px rgba(0,0,0,0.5);

  .front,
  .back,
  .flap {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.25);
  }

  .front, .back {
    backface-visibility: hidden;
    
  }

  .front {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 10;
    transform: rotateY(180deg);
  }

  .back {
    background-color: white;
    z-index: 2;
  }

  .flap {
    background-color: white;
    clip-path: polygon(100% 0, 0 0, 50% 50%);
    filter: brightness(0.95);
    transform-origin: top center;
    transition: all 500ms ease;
    z-index: 4;
  }

  &[data-flipped] {
    transition: all 500ms ease;
    transform: rotateY(0deg);

    .flap {
      filter: brightness(0.9);
    }
  }

  &[data-hidden] {
    transform: scale(0.75);
    filter: brightness(0.8);
  }

  &[data-open] {
    .flap {
      transform: scaleY(-100%);
      z-index: 0;
    }
  }

  &[data-open], &[data-hidden] {
  .back {
    clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 100%, 0 100%);
  }
}
}

.letter {
  position: absolute;
  width: 100%;
  max-width: 32rem;
  transform-origin: left top;
  aspect-ratio: 2;
  background-color: white;
  z-index: 0;
  transition: all 500ms ease;
  overflow: hidden;

  .text {
    padding: 1rem;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}