html,
body,
main {
  margin: 0;
  height: 100%;
}

* {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: darksalmon;
  background: linear-gradient(135deg, darksalmon 0%, brown 100%);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.container {
  --scale: 1;
  --rotate-x: 0;
  --rotate-y: 0;

  cursor: pointer;
  position: relative;
  width: 100%;
  max-width: 32rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
  transition: transform 200ms ease-out;
  transform-style: preserve-3d;
  transform: rotateX(var(--rotate-x)) rotateY(var(--rotate-y)) scale(var(--scale));

  &:hover {
    --scale: 1.05;
  }

  &:active {
    --scale: 1;
  }
}

.envelope {
  --color: rgb(254, 216, 193);
  --stamp-color: orangered;

  width: 100%;
  aspect-ratio: 2;
  background-color: hsl(from var(--color) h s calc(l + 10));
  transform-style: preserve-3d;
  position: relative;
  transform: rotateY(180deg);
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
  pointer-events: none;


  .front,
  .back,
  .flap {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
  }

  .front,
  .back {
    backface-visibility: hidden;

  }

  .front {
    background-color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 10;
    transform: rotateY(180deg);

    .stamp {
      position: absolute;
      right: 0.5rem;
      top: 0.5rem;
      background: transparent radial-gradient(white 0px, white 4px, transparent 4px);
      background-size: 8px 8px;
      width: 2.5rem;
      height: 3rem;

      &::before {
        content: "";
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        background: var(--stamp-color);
        background-image: var(--stamp);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        left: 4px;
        top: 4px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
      }
    }
  }

  .back {
    background-color: var(--color);
    z-index: 2;
  }

  .flap {
    clip-path: polygon(100% 0, 0 0, 50% 50%);
    background-color: hsl(from var(--color) h s calc(l - 5));
    transform-origin: top center;
    transition: all 500ms ease;
    z-index: 4;
  }

  &[data-flipped] {
    transition: all 500ms ease;
    transform: rotateY(0deg);
  }

  &[data-hidden] {
    transform: scale(0.75);
    filter: brightness(0.8);
  }

  &[data-open] {
    .flap {
      background-color: hsl(from var(--color) h s calc(l + 5));
      transform: scaleY(-100%);
      z-index: 0;
    }
  }

  &[data-open],
  &[data-hidden] {
    .back {
      clip-path: polygon(0 0, 50% 50%, 100% 0, 100% 100%, 0 100%);
    }
  }
}

.letter {
  position: absolute;
  width: 100%;
  max-width: 32rem;
  transform-origin: left top;
  aspect-ratio: 2;
  background: repeating-linear-gradient(rgba(245, 245, 245, 1) 0%, rgba(255, 255, 255, 1) 33.4%);
  z-index: 0;
  transition: all 1000ms ease-in-out;
  overflow: hidden;

  &.out {
    box-shadow: inset 0 0 10px rgba(84, 55, 55, 0.25), 0 20px 60px rgba(0, 0, 0, 0.3);;
    aspect-ratio: 0.7070;
  }

  .text {
    padding: 1rem;
    margin: 0;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
}